:root {
  --Cyan: hsl(180, 66%, 49%);
  --darkViolet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayishViolet: hsl(257, 7%, 63%);
  --veryDarkBlue: hsl(255, 11%, 22%);
  --veryDarkViolet: hsl(260, 8%, 14%);
  --white: #FFF;
}

* {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
button {
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  background-color: var(--Cyan);
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}